In [1]:
class Employee:
    """A sample Employee class"""
    def __init___(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        
    @property
    def email(self):
        return '{}.{}@email.com'.format(self.first, self.last)
    
    @property
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
    def __repr___(self):
        return "Employee('{}', '{}', {})".format(self.first, self.last, self.pay)

In [2]:
import sqlite3

In [42]:
#conn = sqlite3.connect(':memory:')
conn = sqlite3.connect('employee.db')
c = conn.cursor()
# c.execute("""CREATE TABLE employees (
#             first text,
#             last text,
#             pay integer
#             )""")

c.execute("INSERT INTO employees Values ('Corey', 'Schafer', 50000)")
#c.execute("INSERT INTO employees Values ('Mary', 'Schafer', 70000)")
#conn.commit()

#c.execute("DELETE FROM employees WHERE last = 'Schafer'")

c.execute("SELECT * FROM employees WHERE last = 'Schafer'")
c.fetchmany(5)

print(c.fetchall())

conn.commit()
conn.close()

OperationalError: database is locked

In [40]:
conn.close()